sudo: false
language: node_js
node_js:
  - 'stable'
  - 8
  - 6
  - 4
cache: yarn
env:
  global:
    COVERALLS_PARALLEL: true
after_success:
  - 'cat ./coverage/lcov.info | ./node_modules/.bin/coveralls'
